[project]
	description = Provides an API to retrieve locale data from the CLDR
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Payam Naderi (E1101)
[access "refs/for/refs/*"]
	read = group user/Payam Naderi (E1101)
	push = group user/Payam Naderi (E1101)
	label-Code-Review = -2..+2 group user/Payam Naderi (E1101)
	label-Verified = -1..+1 group user/Payam Naderi (E1101)
	rebase = group user/Payam Naderi (E1101)
	removeReviewer = group user/Payam Naderi (E1101)
	submit = group user/Payam Naderi (E1101)
[access "refs/heads/*"]
	read = group user/Payam Naderi (E1101)
	create = group user/Payam Naderi (E1101)
	push = +force group user/Payam Naderi (E1101)
	pushMerge = group user/Payam Naderi (E1101)
[access "refs/tags/*"]
	push = +force group user/Payam Naderi (E1101)
	pushTag = group user/Payam Naderi (E1101)
	pushSignedTag = group user/Payam Naderi (E1101)
